
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EEG Test</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
  <style>
 .next-button {
   text-align: right;
 }
  </style>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
                  </a>
                </div>
              </nav>
    <!-- Video player -->
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <video  src="{% static 'video.mp4' %}" id="test-video" type="video/mp4" autoplay="autoplay" controls></video>
        </div>
      </div>
  <div class="columns">
      <div class="column is-4 is-offset-8 next-button">
        <a class="button is-large is-success" id="next" href="/feedback/" title="Disabled button" disabled>Next</a>
      </div>
  </div>
 
</div>
</body>

<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script>
  $("#test-video").bind("ended", function() {
   console.log("This message is displayed at the ending!");
  $("#next").removeAttr('disabled');
});</script>


</html>